<%-include("partials/header") %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body class="vh-100">
    
<%-include("partials/navbar")%>

<div class="container" style="margin: 150px;">
    <div class="row">
        <div class="col">
            <div style="margin-bottom: 50px;">
                <h1 class="text-center">Inicio</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row align-items-center col-md-6 mx-auto">
            <button type="button" class="btn btn-secondary btn-block mb-4"><a class="nav-link" href="/login">Inicia sesion</a></button>
        </div>
    </div>
    <div class="row">
            <div class="row align-items-center col-md-6 mx-auto">
                <button type="button" class="btn btn-secondary btn-block mb-4"><a class="nav-link" href="/index">Entrar como invitado</a></button>
            </div>
    </div>

</div>


<script src="/js/inicio.js" type="module"></script>

<%-include("partials/footer")%>